@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        border-radius: 50%;
        text-align: right;
        display: flex;
        width: 12%;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .link {
        text-decoration: none;
        margin-right: 10px;
        color: white;
        font-size: 12px;
    }

    .home {
        text-align: right;
        display: flex;
        justify-content: space-between;

    }

    .area-nav {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #366596;
    }

    .navegacao {
        margin: auto;
        margin-right: 40px;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
    }

    hr {
        border: 1px solid white;
    }

    div#par1 {
        display: flex;
    }

    div.apre {
        margin-left: 30px;
        margin-top: 25px;
        justify-content: left;
    }

    h1.apre {
        color: white;
        font-size: 12px;
    }

    p.apre {
        color: white;
        font-size: 10px;

    }

    img.apre {
        margin-left: 15px;
        margin-top: 50px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div#par2 {
        display: flex;
        margin-top: 20px;
        margin-right: 5px;
    }

    img.apre2 {
        margin-left: 10px;
        margin-top: 90px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div.apre2 {
        justify-content: right;
        margin-left: 35px;
    }

    #oQueEuSei {
        color: white;
        display: flex;
        flex-wrap: wrap;
    }

    #apre2 {
        margin-left: 5px;
        border: solid 3px black;
        border-radius: 20%;
        padding: 5px;
        background-color: #09134B;
        font-size: 10px;
    }

    #imgApre2 {
        width: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        border-radius: 50%;
        text-align: right;
        display: flex;
        width: 8%;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .link {
        text-decoration: none;
        margin-right: 10px;
        color: white;
        font-size: 18px;
    }

    .home {
        text-align: right;
        display: flex;
        justify-content: space-between;

    }

    .area-nav {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #366596;
    }

    .navegacao {
        margin: auto;
        margin-right: 40px;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
    }

    hr {
        border: 1px solid white;
    }

    div#par1 {
        display: flex;
    }

    div.apre {
        margin-left: 30px;
        margin-top: 25px;
        justify-content: left;
    }

    h1.apre {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    p.apre {
        color: white;
        font-size: 18px;

    }

    img.apre {
        margin-left: 15px;
        margin-top: 20px;
        width: 20%;
        justify-content: right;
        height: 20%;
    }

    div#par2 {
        display: flex;
        margin-top: 20px;
        margin-right: 5px;
    }

    img.apre2 {
        margin-left: 10px;
        margin-top: 15px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div.apre2 {
        justify-content: right;
        margin-left: 35px;
    }

    #oQueEuSei {
        color: white;
        display: flex;
        flex-wrap: wrap;
    }

    #apre2 {
        margin-left: 5px;
        border: solid 3px black;
        border-radius: 20%;
        padding: 5px;
        background-color: #09134B;
        font-size: 18px;
    }

    #imgApre2 {
        width: 17px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        border-radius: 50%;
        text-align: right;
        display: flex;
        width: 7%;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .link {
        text-decoration: none;
        margin-right: 10px;
        color: white;
    }

    .home {
        text-align: right;
        display: flex;
        justify-content: space-between;

    }

    .area-nav {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #366596;
    }

    .navegacao {
        margin: auto;
        margin-right: 40px;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
    }

    hr {
        border: 1px solid white;
    }

    div#par1 {
        display: flex;
    }

    div.apre {
        margin-left: 50px;
        margin-top: 75px;
        justify-content: left;
    }

    h1.apre {
        color: white;
        font-size: 24px;
    }

    p.apre {
        color: white;
        font-size: 18px;

    }

    img.apre {
        margin-left: 20px;
        margin-top: 30px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div#par2 {
        display: flex;
        margin-top: 30px;
        margin-right: 5px;
    }

    img.apre2 {
        margin-left: 20px;
        margin-top: 15px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div.apre2 {
        justify-content: right;
        margin-left: 55px;
    }

    #oQueEuSei {
        color: white;
        display: flex;
        flex-wrap: wrap;
    }

    #apre2 {
        margin-left: 15px;
        border: solid 3px black;
        border-radius: 20%;
        padding: 5px;
        background-color: #09134B;
        font-size: 18px;
    }

    #imgApre2 {
        width: 15px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .logo {
        border-radius: 50%;
        text-align: right;
        display: flex;
        width: 8%;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .link {
        text-decoration: none;
        margin-right: 10px;
        color: white;
        font-size: 20px;
    }

    .home {
        text-align: right;
        display: flex;
        justify-content: space-between;

    }

    .area-nav {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #366596;
    }

    .navegacao {
        margin: auto;
        margin-right: 40px;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
    }

    hr {
        border: 1px solid white;
    }

    div#par1 {
        display: flex;
    }

    div.apre {
        margin-left: 30px;
        margin-top: 25px;
        justify-content: left;
    }

    h1.apre {
        color: white;
        font-size: 22px;
        font-weight: bold;
    }

    p.apre {
        color: white;
        font-size: 20px;

    }

    img.apre {
        margin-left: 15px;
        margin-top: 20px;
        width: 20%;
        justify-content: right;
        height: 20%;
    }

    div#par2 {
        display: flex;
        margin-top: 20px;
        margin-right: 5px;
    }

    img.apre2 {
        margin-left: 10px;
        margin-top: 15px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div.apre2 {
        justify-content: right;
        margin-left: 35px;
    }

    #oQueEuSei {
        color: white;
        display: flex;
        flex-wrap: wrap;
    }

    #apre2 {
        margin-left: 5px;
        border: solid 3px black;
        border-radius: 20%;
        padding: 5px;
        background-color: #09134B;
        font-size: 18px;
    }

    #imgApre2 {
        width: 17px;
    }
}

@media (min-width: 1201px) {
    .logo {
        border-radius: 50%;
        text-align: right;
        display: flex;
        width: 8%;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .link {
        text-decoration: none;
        margin-right: 10px;
        color: white;
        font-size: 24px;
    }

    .home {
        text-align: right;
        display: flex;
        justify-content: space-between;

    }

    .area-nav {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #366596;
    }

    .navegacao {
        margin: auto;
        margin-right: 40px;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
    }

    hr {
        border: 1px solid white;
    }

    div#par1 {
        display: flex;
    }

    div.apre {
        margin-left: 30px;
        margin-top: 25px;
        justify-content: left;
    }

    h1.apre {
        color: white;
        font-size: 26px;
        font-weight: bold;
    }

    p.apre {
        color: white;
        font-size: 22px;

    }

    img.apre {
        margin-left: 15px;
        margin-top: 20px;
        width: 20%;
        justify-content: right;
        height: 20%;
    }

    div#par2 {
        display: flex;
        margin-top: 20px;
        margin-right: 5px;
    }

    img.apre2 {
        margin-left: 10px;
        margin-top: 15px;
        width: 25%;
        justify-content: right;
        height: 25%;
    }

    div.apre2 {
        justify-content: right;
        margin-left: 35px;
    }

    #oQueEuSei {
        color: white;
        display: flex;
        flex-wrap: wrap;
    }

    #apre2 {
        margin-left: 5px;
        border: solid 3px black;
        border-radius: 20%;
        padding: 5px;
        background-color: #09134B;
        font-size: 22px;
    }

    #imgApre2 {
        width: 20px;
    }
}